<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
</head>
<body>
    <h1>Hello!</h1>
    <h4>Welcome! This app let you encrypt and decrypt string by using key</h4>
    <form method="GET" action="/do_encrypt">
        <p>Enter string</p>
        <input type="text" name="crypt_string">
        <br>
        <p>Enter key</p>
        <input type="text" name="crypt_key">
        <input type="submit" value="Send">
    </form>
    <br>
    <a href="{{ url_for('decrypt_page') }}"><b>Decrypt code</b></a>


</body>
</html>